@media (max-width: 480px){
  .contacts__wrap__col.data-box > div:nth-child(2) > a{
    font-size: 4.5vw;
  }
    .contacts__wrap__col.data-box > div:nth-child(3) > a{
    font-size: 4.5vw;
  }
  .accordion__header__title p:nth-child(2) {
    margin-top: -5px;
    font-size: 1em;
  }
}
