h2, .page__title{
  margin-bottom: 30px;
}

// .page__title-contacts{
//   display: none;
// }

.page__description{
  margin-left: 10%;
  margin-right: 5%;
}

/*------------------------------------------*/
/*            табы процесса                 */
/*------------------------------------------*/


.tabs-proc{
  margin-top: 70px;
  margin-bottom: -12vh;
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
  "a a a a f f f f f f f f"
  "b b b b f f f f f f f f"
  "c c c c f f f f f f f f"
  "d d d d f f f f f f f f";
}

.item-a{
  grid-area: a;  
}
.item-b{
  grid-area: b;  
}
.item-c{
  grid-area: c;  
}
.item-d{
  grid-area: d;  
}
.item-e{
  grid-area: e;  
}
.item-f{
  grid-area: f;  
}

.tab-buttons {
  display: flex;
}

.tabs-proc>input[type="radio"] {
  display: none;
}

.tabs-proc .tab-proc__content div{
  display: none;
}

#tab-btn-1:checked ~ .tab-proc__content > .content-proc__1,
#tab-btn-2:checked ~ .tab-proc__content > .content-proc__2,
#tab-btn-3:checked ~ .tab-proc__content > .content-proc__3,
#tab-btn-4:checked ~ .tab-proc__content > .content-proc__4,
#tab-btn-5:checked ~ .tab-proc__content > .content-proc__5 {
  display: block;
}

.tabs-proc>label {
  margin: 0;
  // margin-top: -1px;
  padding: 18px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  background-color: $body-bg;
  border: 1px solid $white-grey;
  box-sizing: border-box;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  cursor: pointer;
}

.tabs-proc input[type="radio"]:checked + label {
  font-weight: 700;
  color: $body-bg;
  background: $gradient-main;
  border: none;
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 1px $body-bg;
  transform: scale(1.005);
}

.tab-proc__content{
  //height: 250px;
  margin-top: -5px;
  display: flex;
  justify-content: flex-end;
}
.tab-proc__content div{
  width: 65vw;
  padding-right: 9%;
}
.tabs-proc label{
  width: 20vw;
}

/*-------------------------------------------*/
/*                  контакты                 */
/*-------------------------------------------*/

.contacts{
  &__wrap{
    margin-top: 70px;
    display: flex;
    &__col{
      width: 50%;
    }
  }
}

.data-box{
  padding-top: 12px;
  &__row{
    margin-bottom: 32px;
    display: flex;
    column-gap: 32px;
  }
}

/*-------------------------------------------*/
/*                  форма                    */
/*-------------------------------------------*/
.form *{
  outline: none;
}
.login-box {
  // width: 400px;
  // padding: 40px;
  // box-sizing: border-box;
}

.login-box .user-box {
  position: relative;
}
.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-family: 'PT-Mono', 'Fira Mono', 'Lucida Console', 'Monaco', monospace;
  font-size: 16px;
  color: $white-grey;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid $white-grey;
  outline: none;
  background: transparent;
}
.login-box .user-box textarea {
  width: 100%;
  height: 45px;
  padding: 10px 0;
  resize: vertical;
  font-family: 'PT-Mono', 'Fira Mono', 'Lucida Console', 'Monaco', monospace;
  font-size: 16px;
  color: $white-grey;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid $white-grey;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-family: 'PT-Mono', 'Fira Mono', 'Lucida Console', 'Monaco', monospace;
  font-size: 16px;
  color: $white-grey;
  pointer-events: none;
  transition: .5s;
}

.login-box input[type=submit], .form_button{
  width: 237px;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  background: $gradient-main;
  color: $body-bg;
  text-align: center;
  font-family: 'PT-Mono', 'Fira Mono', 'Lucida Console', 'Monaco', monospace;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease 0s;
  &:hover{
    transform: translateY(-3px);
  }
  &:active{
    transform: scale(0.98);
  }
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: $blue;
  font-size: 12px;
}
.login-box .user-box textarea:focus ~ label,
.login-box .user-box textarea:valid ~ label {
  top: -30px;
  left: 0;
  color: $blue;
  font-size: 12px;
}
.user-box__chekbox .checkbox__input{
  display: none;
}
.checkbox__input:checked + .checkbox__label::after{
  transform: scale(1);
}
.user-box__chekbox .checkbox__label{
  position: relative;
  font-size: 14px;
  line-height: 120%;
  display: inline-flex;
  align-items: center;
  color: #fff;
  cursor: pointer;
  &::before{
    content: "";
    margin-right: 10px;
    flex: 0 0 16px;
    align-self: flex-start;
    height: 16px;
    background-color: #fff;
    border-radius: 2px;
  }
  &::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    top: 3px;
    left: 3px;
    background-color: $blue;
    border-radius: 2px;
    transition: transform 0.5s ease 0s;
    transform: scale(0);
  }
  & a {
    display: inline;
    color: red;
  }
}


