@media (max-width: 480px){
  .footer-inner__1 {
    height: 170px;
  }
  .footer-inner__1__1 img:nth-child(3) {
    max-width: 75%;
    bottom: -14px;
  }
  .footer-inner__1__3 img:nth-child(3) {
    max-width: 51%;
  }
}