@media (max-width: 360px) {
  .footer-inner__1 {
    height: 170px;
  }
  .footer-inner__1__1 img:nth-child(3) {
    max-width: 75%;
    bottom: -11px;
  }
  .footer-inner__1__2 {
    width: 80px;
    margin-bottom: 12px;
}
}
