$body-bg: #0E111A;
$body-bg-lighter: #131620;;

$white-grey: #F0F0F0;

$gradient-main: linear-gradient(90deg, #899ABA 0%, #8AD4C2 38.52%, #5B7EBF 68.75%);;

$icon-color-purple: #7c03d2;

// cover cols
$cover-1920__1: 23.5%;
$cover-1920__2: 55.5%;
$cover-1920__3: 21%;

$cover-1280__1: 20.5%;
$cover-1280__2: 62.5%;
$cover-1280__3: 17%;

$cover-1024-top__1: 8.2%;
$cover-1024-top__2: 84.5%;
$cover-1024-top__3: 7.3%;

$cover-1024-bottom__1: 20.5%;
$cover-1024-bottom__2: 62.5%;
$cover-1024-bottom__3: 17%;

$cover-480-top__1: 0%;
$cover-480-top__2: 100%;
$cover-480-top__3: 0%;

$cover-480-bottom__1: 0%;
$cover-480-bottom__2: 0%;
$cover-480-bottom__3: 100%;